/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styles */
body {
    font: 16px/28px arial, sans-serif;
    background-color: #eff2f9;
    color: #333333;
    background-image: url(img/bg.png);
}

.container {
    width: 960px;
    margin: auto;
    background-color: #ffffff;
}

.header { 
    padding: 20px; 
    padding-bottom: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.header a {
    text-decoration: none;
    color: crimson;
    padding: 3px;
}

.header a:hover {
    background-color: cyan;
    color: #ffffff;
}

.hero {
    height: 350px;
    background-image: url(img/hero.png);
    background-size: cover;
    background-position: 0 -160px;
    border-top: 5px solid crimson;
    border-bottom: 5px solid cyan;
}

.main {
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

.main h2 {
    font-size: 25px;
    font-weight: bold;
}

.main .penulis {
    font-size: 11px;
    margin-top: -5px;

}

.main .penulis a {
    color: crimson;
    text-decoration: none;
}

.main .penulis a:hover {
    background-color: cyan;
    color: #ffffff;
}

.main p {
    margin-bottom: 20px;
    font-size: 15px;
}

/* sidebar */
.sidebar {
    width: 300px;
    float: right;
    padding: 20px;
    box-sizing: border-box;
}

.creator h3 {
    font-weight: bold;
    color: #666666;
}

.creator img {
    width: 70px;
    height: 70px;
    float: left;
    padding-right: 10px;
    border-radius: 50%;
}

.creator p {
    font-size: 12px;
    line-height: 18px;
    font-family: arial;
}

.sosmed {
    margin-top: 20px;
}

.sosmed img {
    width: 25px;
    margin-right: 10px;
}

.sosmed h3 {
    font-weight: bold;
    color: #666666;
}

.another {
    margin-top: 20px;
}

.another h3 {
    font-weight: bold;
    color: #666666;
}

.another img {
    width: 50px;
    height: 50px;
    float: left;
    padding-right: 10px;
}

.another p {
    font-size: 11px;
    line-height: 15px;
    font-family: arial;
}

.dua, .tiga, .empat {
    padding-top: 15px;
}

.another a {
    color: crimson;
    text-decoration: none;
}

.another a:hover {
    color: cyan;
}

.footer {
    background-color: #333333;
    padding: 10px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 13px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
 
.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}